<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.volgadev.pay_lib">

    <application>
        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />

        <activity
            android:name="ru.volgadev.pay_lib.CheckoutActivity"
            android:label="@string/store_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>