<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.volgadev.pay_lib">

    <uses-permission android:name="com.android.vending.BILLING" />

    <application>
        <activity
            android:name="ru.volgadev.pay_lib.impl.DefaultPaymentActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="ru.volgadev.pay_lib.impl.BillingClientActivity"
            android:screenOrientation="portrait" />
    </application>
</manifest>